project:
  type: website
  resources:
    - files/*   # so your PDF gets copied when you render

website:
  title: "Anugraha Samuel"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - text: Assignments
        menu:
          - href: epps6302.qmd
            text: EPPS 6302

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual
